{:itonami.blueprint/id "cloud-itonami-8010"
 :itonami.blueprint/name "Community Private Security Operations"
 :itonami.blueprint/isic-rev5 "8010"
 :itonami.blueprint/domain :commercial/private-security-services
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:public-safety :crime-deterrence :accountability]
 :itonami.blueprint/governor :guardops-governor
 :itonami.blueprint/robotics false
 :itonami.blueprint/required-technologies [:identity :forms :dmn :bpmn :audit-ledger]
 :itonami.blueprint/optional-technologies [:optimization]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/maturity :implemented
 :db/id -1}
